body {
  background-color: #27232d;
}

.icon:hover {
  color: #71ebc6;
}

.Box {
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

a {
  color: #27232d;
  text-decoration: none;
}
.App {
  text-align: center;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
